body {
    background-color:#263300;
  }
  h3 {
    font-family: verdana;
    font-size: 20px;
    font-style: italic;
  }
  h2 {
    color: #0a290a;
  }
  img {
    width: 300px;
    height: 300px;
  }
  a {
    display: block;
    padding: 0px;
  }
  a {
    float: left;
  }